/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
  margin-top: 0 auto;
  margin-left:  0 auto;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

.admin-header {
  padding: 20px;
}

.a.help {
  border:none;
}

.a.help:hover {
  background-color: transparent;
  color: #4050B5;
}

.page-header {
  float: right;
  padding: 20px;
}

.login-section{
  float: right;
  padding: 20px;
  margin-top: 0 auto;
}

.main-title{
font-family: 'Montserrat', sans-serif;
text-align: center;
letter-spacing: 4px;
margin-top: 10%;
font-size: 40px;
font-weight: 700;
}

.start-div {
  text-align: center;
  margin-top: 8%;
}

.start-link {
  border: 2px solid #4050B5;
  text-decoration:none;
  box-sizing: border-box;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  margin:0 0.2em 0.2em 0;
  border-radius:0.2em;
  padding: 20px;
  font-size: 20;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.15s;
}

.start-link:hover {
  border: 2px solid #C8FA22;
  background-color: #C8FA22;
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color: black;
}

.admin-view {
  margin-top: 4%;
  margin-left: 4%;
}

table, td, th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

td {
  padding: 15px;
}

.original-link{
  font-size: 20px;
}

.unstyled-block {
  display: inline-block;
}

.field-editor {
  height: 300px;
}

.hover-image {
  height: 220px;
  margin-left: -70%;
}

.atomic {
  color: blue;
  display: inline-block;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  border-bottom: 2px solid #C8FA22;
  padding-right: 5px; 
  padding-left: 5px;
  transition: all 0.15s;
  border-radius: 0.12rem;
  margin-left: 5px;
  margin-right: 5px;
}

a:hover {
  background-color: #C8FA22;  
}

/* Date document*/

.header.initDocument {
  text-align: left;
  display: inline-block;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 8%;
  line-height: 1.6rem;
}

.btn.start {
  text-align: center;
  margin-top: 12%;
}

.init-form {
  display: flex;
  justify-content: center;
  margin-top: 0 auto;
  margin-left: 0 auto;
  align-items: center;
}

.date-form {
  width: 600px;
  height: 350px;
  padding: 40px;
  top: 15%;
  left: 30%;
  line-height: 2.2rem;
  border: 4px solid black;
  /* background-color: rgb(232, 232, 232); */
}

.start-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 50px;
  letter-spacing: 1.2px;
}

.first-form-fields {
  display: flex;
}

.title-question {
  display: flex;
}

.seperate-first-fields {
  margin-left: 40px;
  margin-right: 40px;
}

.form-labels {
  margin-top: 10px;
  margin-bottom: 0;
  display: inline-block;
}

.form-labels.date {
  margin-bottom: 18px;
}

.btn.saveDSN {
  margin-top: 10%;
}

.DSN-form {
  width: 500px;
  padding: 20px;
  text-align: center;
}

.btn.close {
  float: left;
}

.sure {
  font-size: 18px;
  color: #4050B5;
  padding-bottom: 5px;
}

/* Admin view approval*/
.approval-view {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* background-color: rgb(232, 232, 232); */
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.view-header {
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.admin-btn {
  margin-bottom: 15px;
  margin-top: 40px;
}

.inner-view {
 margin-bottom: 50px;
}

.view-page {
  border: 1px solid black;
  padding: 25px;
  margin-bottom: 20px;
}

.label-view {
  font-weight: 600;
}

.btn.nextPage {
  display: flex;
  justify-content: space-between;
}


.admin-view table {
  margin-top: 15px;
}

.filter-buttons button {
  margin-right: 20px;
}

.help-cointainer {
  width: 80%;
  margin-left: 0 auto;
  margin-right: 0 auto;
  text-align: center;
}

.help-view {
  margin-left: 40%;
  text-align: left;
}