/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Lato', sans-serif;
  margin-top: 0 auto;
  margin-left:  0 auto;
}

::selection {
  color: black;
  background-color: #C8FA22;
}

h1, h2 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.login {
  display: flex;
}

.processtitle {
  font-size: 42px;
  letter-spacing: 1px;
}

.instructionTitle {
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 10px;
}

.admin-header {
  padding: 20px;
}

.btn.nav {
  border-bottom: none;
}

.btn.nav:hover {
  background-color: transparent;
}

.a.help {
  border:none;
}

.a.help:hover {
  background-color: transparent;
  color: #4050B5;
}

.page-header {
  float: right;
  padding: 20px;
}

.closeHelp {
  margin-top: 40px;
  margin-left: 40px;
}

.login-section{
  float: right;
  padding: 20px;
  margin-top: 0 auto;
}

.main-title{
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  letter-spacing: 4px;
  margin-top: 10%;
  font-size: 54px;
  font-weight: 700;
}

.start-div {
  text-align: center;
  margin-top: 8%;
}

.start-link {
  border: 2px solid #4050B5;
  text-decoration:none;
  box-sizing: border-box;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  margin:0 0.2em 0.2em 0;
  border-radius:0.2em;
  padding: 20px;
  font-size: 20;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.15s;
}

.start-link:hover {
  border: 2px solid #C8FA22;
  background-color: #C8FA22;
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color: black;
}

.admin-view {
  margin-top: 4%;
  margin-left: 4%;
}

table, td, th {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px;
}

td {
  padding: 15px;
}

.original-link{
  font-size: 20px;
}

.unstyled-block {
  display: inline-block;
}

.field-editor {
  /*height: 300px;
   * commented out since it prevents
   * the content-editable div from expanding
   * rather than overlapping with below element
   * */
  min-width: 700px;
  max-width: 700px;
}

.hover-image{
  height: 220px;
  margin-left: 0;
  margin-top: 2%;
}

.atomic {
  color: blue;
  display: inline-block;
  margin: 0;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  border-bottom: 2px solid #C8FA22;
  padding-right: 5px; 
  padding-left: 2px;
  transition: all 0.15s;
  border-radius: 0.12rem;
  margin-left: 5px;
  margin-right: 5px;
}

a:hover {
  background-color: #C8FA22;  
}

.mainAlign {
  text-align: center;
}

.comeback {
  display: inline-block;
  text-align: center;
}

/* Date document*/

.startDoc {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
}

.leftSection {
  margin-right: 5%;
  width: 750px;
}

.secondDate {
  font-size: 13px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.secondDate.serial {
  margin-top: 10px;
}

.PDFprev {
  border: 1px solid black;
  margin-top: 12%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.welcome {
  margin-top: 60px;
  text-align: left;
  color: black;
  line-height: 1.6rem;
}

.welcome.span {
  font-style: italic;
  font-weight: 600;
}

.header.initDocument {
  text-align: left;
  margin-top: 100px;
  margin-bottom: 8%;
  line-height: 1.6rem;
}

.btn.start {
  margin-top: 15px;
  text-align: left;
}

.btn.start.text {
  margin-right: 10px;
  display: inline-block;
}

.init-form {
  display: flex;
  font-size: 18px;
  max-width: 500px;
}

.initFields {
  margin-top: 20px;
}

.initFields.three {
  margin-top: 15px;
}

.date-form {
  line-height: 2.2rem;
}

.start-title {
  margin-bottom: 5%;
  margin-left: -2%;
}

.number {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700px;
  font-size: 22px;
}

.start-open {
  border-bottom: 2px solid rgb(188, 188, 188);
  padding: 4px 0px;
  border-radius: 0px;
}

.start-open:hover {
  background-color: white;
  color: #F50257; 
  border-bottom: 2px solid black;
}

.divPages{
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.backPage {
  float: left;
}

.nextPage {
  float: right;
}

.addNewPage {
 display: flex;
 justify-content: center;
 /* width: 500px; */
}

.addNewPageInner {
  margin-left: -50px;
}

.pageArrow {
  color: #4050B5;
  size: 6px;
}

.form-labels {
  margin-bottom: 0;
  display: inline-block;
}

.form-labels.first {
  margin-left: -5px;
}

.labelAlign {
  margin-top: -10px;
  display: inline-flex;
  margin-left: 3px;
}


.MuiFormControl-root.MuiTextField-root {
  margin-top: 15px;
}

.btn.saveDSN {
  margin-top: 5%;
}

.DSN-form {
  width: 500px;
  padding: 20px;
  text-align: center;
}

.btn.close {
  float: left;
}

.sure {
  font-size: 18px;
  color: #4050B5;
  padding-bottom: 5px;
  font-family: 'Lato', sans-serif;
}

/* Admin view approval*/
.approval-view {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.view-header {
  font-size: 18px;
  margin-bottom: 50px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.admin-btn {
  margin-bottom: 15px;
  margin-top: 40px;
}

.inner-view {
 margin-bottom: 50px;
}

.view-page {
  border: 1px solid black;
  padding: 25px;
  margin-bottom: 20px;
  line-height: 1.6rem;
}

.label-view {
  font-weight: 600;
}

.btn.nextPage {
  display: flex;
  justify-content: space-between;
}


.admin-view table {
  margin-top: 15px;
}

.filter-buttons button {
  margin-right: 20px;
}

.help-view {
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-left: 30%;
  text-align: left;
}

.help-title {
  color: white;
  text-align: left;
  margin-bottom: 40px;
  font-size: 42px;
  font-weight: 700;
}

.modal-help {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0; 
  height: 100%; 
  width: 100%;
  padding-bottom: 400px;
  overflow: hidden;
  z-index: 10;
  background: rgb(210, 210, 210);
  min-height: 1100px;
}

.table-row-edit-button {
  float: right;
}

.tableform {
  margin-bottom: 15px;
}

.tableform td, .tableform th {
  padding: 20px 20px;
}

.edit-header {
  display: flex;
}

.section-edit {
  margin-top: 10px;
}

.section-edit Button, .table-edit-section Button {
  margin-right: 10px;
}
