// Place all the styles related to the Fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field-form-container {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}

.adding-field {
  max-width: 70%;
  min-width: 35%;
  // border: 1px solid black;
  padding: 50px;
}

.MuiFormControl-root.MuiTextField-root {
  width: 200px;
  margin-bottom: 40px;
  margin-top: 5%;
}
