// Place all the styles related to the Fields controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field-form-container {
  display: flex;
  flex-direction: column;
  padding-right: 5%;
}

.field-form-container .form-controls {
  display: flex;
  justify-content: space-around;
}

.adding-field {
  max-width: 70%;
  min-width: 35%;
  padding: 50px;
}

.btn.save-field {
  margin-top: 5%;
}

.MuiFormControl-root.MuiTextField-root {
  width: 200px;
  margin-top: 0;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiAutocomplete-inputRoot.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiInputBase-adornedEnd.MuiOutlinedInput-adornedEnd {
  width: 250px;
}


