
.form-doc-container {
  display: flex;
  justify-content: center;
  text-align: left;
}

.field-container{
  border: 1px solid #aaa;
  border-bottom: none;
  width: 900px;
  min-height: 800px;
  margin-bottom: 5%;
  margin-top: 30px;
  padding: 50px;
  border-radius: 0.3rem;
  box-shadow: 5px 2px rgba(221, 221, 221, 0.3);
}

.filled-label {
  font-weight: 600;
  text-transform: capitalize;
}

.filled-text {
  margin-bottom: 30px;
}

.document-head-section {
  background-color: black;
  color: white;
  padding: 70px;
  margin-left: -4%;
  min-height: 100%;
  margin-top: -1%;
  margin-bottom: 0;
}

.document-titles {
  margin-bottom: 50px;
}

.orginal-link {
  color: #C8FA22;
  border-bottom: none;
  font-size: 20px;
  margin-left: 0;
}

.orginal-link:hover {
  color: black;
}

.document-info {
  letter-spacing: 1px;
  margin-bottom: 50px;
  border-bottom: 2px solid #E0E0DA;
}

.document-info-last {
  margin-bottom: 30px;
}

.document-instruction {
  max-width: 300px;
  line-height: 1.5rem;
  color: #ddd;
}

.document-instruction-div {
  margin-bottom: 100px;
}

.doc-type {
  font-size: 18px;
}

.instruction-start{
  text-transform: uppercase;
  font-style: italic;
  line-height: 2.5rem;
}

.link-instruction {
  color: white;
}

.link-instruction:hover {
  color: black;
}

.hover-image.instruction {
  height: 500px;
  margin-left: 0;
}

.close-editor {
  line-height: 1rem;
  margin-bottom: 50px;
  border-bottom: 2px solid #E0E0DA;
}

.btn-edit {
  float: right;
}

@media (max-width: 1500px) {
  .document-head-section {
    padding: 70px;
    margin-left: -3%;
  }
  .field-container{ 
    width: 750px;
  }
}

@media (max-width: 1260px) {
  .document-head-section {
    padding: 50px;
    margin-left: -2%;
  }
  .field-container{ 
    width: 650px;
    margin-left: -3%;
  }

  .orginal-link {
  font-size: 18px;
  }
}