
.form-doc-container {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.field-container{
  border: 1px solid #aaa;
  /* change this width for different screens*/ 
  width: 680px;
  min-height: 800px;
  margin-bottom: 5%;
  padding: 50px;
  border-radius: 0.3rem;
  box-shadow: 5px 2px rgba(221, 221, 221, 0.3);
}

.filled-label {
  font-weight: 600;
  padding-top: 20px;
}

.filled-text {
  margin-bottom: 40px;
}

.document-head-section {
  background-color: black;
  color: white;
  padding: 100px;
  margin-left: -8%;
  margin-top: 0;
  margin-bottom: 0;
}

.document-titles {
  margin-bottom: 70px;
}

.orginal-link {
  color: white;
  border-bottom: 1px solid #C8FA22;
}

.orginal-link:hover {
  color: black;
}

.document-info {
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.document-instruction {
  max-width: 300px;
  line-height: 1.4rem;
  color: #ddd;
}

.document-instruction-div {
  margin-bottom: 100px;
}

.link-instruction {
  color: white;
}

.link-instruction:hover {
  color: black;
}

.hover-image.instruction {
  height: 500px;
  margin-left: 0;
}