
.form-doc-container {
  display: flex;
  justify-content: center;
  text-align: left;
}

.table-row {
  display: flex;
  justify-content: space-around;

  input.redacted {
    background: rgba(91, 91, 91, 0.8);
    color: white;
    textarea {
      color: white;
    }

  }
}

.redacted {
  background: rgba(91, 91, 91, 0.8);
  color: white;
  textarea {
    color: white;
  }
}

.field-container{
  border: 1px solid black;
  border-bottom: none;
  width: 900px;
  min-height: 800px;
  margin-bottom: 5%;
  margin-top: 30px;
  padding: 50px;
  border-radius: 0.3rem;
  box-shadow: 5px 2px rgba(221, 221, 221, 0.3);
}

.titlepageheader {
  padding-bottom: 20px;
}

.fbiPageTitle {
  font-family: 'Bebas Neue', cursive;
  font-size: 42px;
  text-align: center;
}

.dotDiv {
  display: flex;
  justify-content: space-around;
}

.dot {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.filled-label {
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 20px;
}

.filled-text {
  margin-bottom: 30px;
}

.document-head-section {
  background-color: black;
  color: white;
  padding: 70px;
  margin-left: -4%;
  min-height: 100%;
  margin-top: -1%;
  margin-bottom: 0;
}

.document-titles {
  margin-bottom: 50px;
}

.orginal-link {
  color: #C8FA22;
  border-bottom: none;
  font-size: 20px;
  margin-left: 0;
}

.orginal-link:hover {
  color: black;
}

.tooltipDiv {
  color: white;
  display: inline-block;
}

.MuiButton-textSecondary {
  display: contents !important;
}

.document-info {
  letter-spacing: 1px;
  margin-bottom: 50px;
  border-bottom: 2px solid #E0E0DA;
}

.document-info-last {
  margin-bottom: 30px;
}

.document-instruction {
  max-width: 300px;
  line-height: 1.5rem;
  color: #ddd;
}

.document-instruction-div {
  margin-bottom: 100px;
}

.doc-type {
  font-size: 18px;
}

.instruction-start{
  text-transform: uppercase;
  font-style: italic;
  line-height: 2.5rem;
}

.link-instruction {
  color: white;
}

.link-instruction:hover {
  color: black;
}

.hover-image.instruction {
  height: 500px;
  margin-left: 0;
}

.close-editor {
  line-height: 1.8rem;
  margin-bottom: 50px;
  border-bottom: 2px solid #E0E0DA;
  display: flex;
}

.close-editor-table {
  line-height: 1.8rem;
  margin-bottom: 50px;
  border-bottom: 2px solid #E0E0DA;
}

.editTablePencil {
  margin-right: 15px;
  display: inline-flex;
}

.showTableBeforeEdit {
  display: flex;
}

@media (max-width: 1500px) {
  .document-head-section {
    padding: 70px;
    margin-left: -3%;
  }
  .field-container{ 
    width: 750px;
  }
}

@media (max-width: 1260px) {
  .document-head-section {
    padding: 50px;
    margin-left: -2%;
  }
  .field-container{ 
    width: 650px;
    margin-left: -3%;
  }

  .orginal-link {
  font-size: 18px;
  }
}
